<div class="container">
  <form method="post" action="/posts/create">
    <p><input type="text" name="title" placeholder="title"></p>
    <p><textarea name="post_content" cols="50" rows="15">Post</textarea></p>
    <p><input type="submit" name="create_post_submit" value="Create Post"></p>
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 

  </form>

</div>